{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Class Demo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/album/1">Album</a></li>
          <li><a href="/list_album">Products</a></li>   
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
   {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4" >
          <div class="thumbnail" style="height:270px ;">
              <p>Facility Id: {{ item['FacilityId'] }}<br>Facility Name: {{ item['FacilityName'] }}<br>Address: {{ item['Address'] }}<br>District: {{ item['District'] }}<br>Facility Type: {{ item['FacilityType'] }}</p>
              <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %} 

{% endblock %}